$font-stack: "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-color: #fff;
$appDefaultBgColorPrimary: #417690;
$appDefaultBgColorSecondary: #79AEC8;
$appDefaultColor: #EADD5D;

$logo-height: 45px;
$top-nav-height: 65px;
$bottom-nav-height: 25px;
$side-nav-width: 73px;
